.header {
  background: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.image_logo {
  height: 40px;
  width: 40px;
  margin-top: 10px;
  margin-left: 50px; }

.nav {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  right: 50px;
  margin-top: 72px; }
  .nav__list {
    margin-right: 50px;
    list-style: none; }
  .nav__item {
    display: inline-block; }
  .nav__link {
    margin-left: 17px;
    color: black;
    text-decoration: none;
    line-height: 60px;
    position: relative;
    display: inline-block;
    -webkit-transition: color 0.5s;
    transition: color 0.5s; }
    .nav__link:hover {
      color: #00acdc; }

.is-active {
  margin-left: 0;
  color: #00acdc; }
  .is-active::after {
    content: "";
    height: 4px;
    width: 100%;
    top: 56px;
    bottom: 0;
    right: 0;
    background-color: #00acdc;
    border-radius: 4px;
    position: absolute; }

.service {
  width: 200px;
  border: 1px solid #f3f3f3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  padding: 30px 15px 15px;
  padding-bottom: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .service__photo {
    height: 134px;
    width: 160px;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s; }
    .service__photo:hover {
      cursor: pointer;
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
      outline: 3px solid #f3f3f3; }
  .service__name {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    margin: 45px 0 0; }
  .service__key {
    font-size: 11px;
    line-height: 13px;
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin: 6px 0 15px; }
  .service__block {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .service__block__stars object:nth-child(-n+4) {
      background-image: url(../images/star-active.svg); }
    .service__block__rating {
      font-size: 11px;
      line-height: 13px;
      margin: 0;
      padding-bottom: 5px; }
    .service__block__star {
      display: inline-block;
      background-image: url(../images/star.svg);
      background-repeat: no-repeat;
      width: 15px;
      height: 15px; }
  .service__price {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    width: 100%; }
    .service__price__cost {
      font-size: 11px;
      line-height: 13px; }
    .service__price__money {
      font-weight: bold;
      font-size: 16px;
      line-height: 19px; }
  .service__link {
    height: 40px;
    width: 170px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #00acdc;
    border-radius: 5px; }
    .service__link__url {
      width: 100%;
      text-align: center;
      text-decoration: none;
      color: white;
      font-weight: bold;
      font-size: 14px;
      line-height: 40px;
      -webkit-transition: background-color 0.5s, color 0.5s, border 0.5s;
      transition: background-color 0.5s, color 0.5s, border 0.5s; }
      .service__link__url:hover {
        color: #00acdc;
        background-color: white;
        border-radius: 5px;
        border: 1px solid; }

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px; }

.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .catalog__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: calc(200px * 4 + 48px * 3);
    margin-top: 50px; }

/*# sourceMappingURL=main.css.map */
